{% extends "layouts/main.twig" %}

{% block title %}Search by country{% endblock %}
{% block main %}

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Top artists...</h1>
      <p>The most innovative music search evers!</p>
    </div>
    <div class="container text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form method="post" action="/">
          <div class="form-group">
            <input type="text" name="country" id="country" class="form-control"
                   value="" placeholder="Enter country" required autofocus />
          </div>
          <div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="container text-center">
    {% if ok %}
      <div class="col-md-3"></div>
      <div class="col-md-6 text-left">
        <h3>Results for {{ attr.country }}</h3>
        <table class="table" ><tbody>
          {% for row in rows %}
            <tr>
              <td class="col-md-1"><img src="{{ row.image[1].src }}" /></td>
              <td class="col-md-11 text-left">{{ row.name }}</td>
            </tr>
          {% endfor %}
        </tbody></table>
      </div>
      <div class="col-md-3"></div>
    {% endif %}
  </div>

{% endblock %}
