{% extends "layouts/main.twig" %}

{% block title %}Search by country{% endblock %}
{% block main %}

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Top artists...</h1>
      <p>The most innovative music search evers!</p>
    </div>
  </div>
  <div class="container text-center">
    <h2>Type a country (eg &ldquo;australia&rdquo;)</h2>
  </div>

{% endblock %}
