{% extends "layouts/main.twig" %}

{% block title %}Top Tracks{% endblock %}
{% block main %}

  <div class="jumbotron">
    <div class="container text-center">
      <h1>{{ attr.artist }}</h1>
      <h2>Top Tracks</h2>
    </div>
    <div class="container text-center">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
  <div class="container text-center">
    {% if ok %}
      <div class="col-xs-3"></div>
      <div class="col-xs-6 text-left">
        <table class="table" ><tbody>
          {% for row in rows %}
            <tr>
              <td class="col-xs-1 image"><img src="{{ attribute(row.image[1], '#text') }}" /></td>
              <td class="col-xs-11 text-left name">{{ row.name }}</td>
            </tr>
          {% endfor %}
        </tbody></table>
      </div>
      <div class="col-xs-3"></div>
    {% endif %}
  </div>

{% endblock %}
